.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box {
  display: inline-grid;
  grid-template-columns: auto auto auto ;
  width: 400px;
  height: 390px;
  border-radius: 25px;
  background: rgb(39, 39, 39);
  border: 1 px solid white
}

.pad {
  color: #eee;
  margin: 5px;
  border-radius: 25px;
  box-shadow: 2px 4px #757575;
  font-size: 20px;
  text-align: center;
  /* background: #324b77; */
  border: 1px solid rgb(150, 150, 150)
}

.pad:hover {
  background: #395586;
}


.controls {
  background: rgb(39, 39, 39);
  border: 1px solid rgb(76, 117, 163);
  width: 100%;
  height: 390px;
  border-radius: 25px
}

@font-face{
  font-family:'digital-clock-font';
  src: url('/fonts/digital-7.ttf');
 }

.preset {
  border-width:3px;  
  border-style:outset;
  font-family:'digital-clock-font';
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(34, 34, 34);
  background : rgb(191, 218, 223);
}

.pad:focus {
  outline: none;
}

.Acoustic > .pad {
  background: #324b77;
}

.Electro > .pad {
  background: #390c42;
}

.Rock > .pad {
  background: #305a4f;
}

.Acoustic > .pad:active{
  color:rgb(115, 219, 29);
  box-shadow: 1px 2px #61dafb;
  background: rgb(120,171,224);
  background: radial-gradient(circle, rgba(120,171,224,1) -1%, rgba(50,75,119,1) 100%);}

.Electro > .pad:active {
  color: yellow;
  box-shadow: 1px 2px  rgb(182,78,203);;
  background: rgb(182,78,203);
  background: radial-gradient(circle, rgba(182,78,203,1) -1%, rgba(81,11,95,1) 100%);
}

.Rock > .pad:active {
  color:#6b1b1f;
  box-shadow: 1px 2px #657974;
  background: rgb(163,193,185);
  background: radial-gradient(circle, rgba(163,193,185,1) -1%, rgba(101,121,116,1) 100%);
}